.container {
  background-color: #F6F8F7;
  height: 632px;
  padding: 60px 0;
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  /* Neutral/800 */

  color: #292E3D;
}

.subHeading {
  margin-top: 20px;
  max-width: 539px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  /* Neutral/800 */

  color: #292E3D;
}

.form {
  margin-bottom: 38px;
}

.input {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 8px;
  gap: 10px;

  width: 280px;
  height: 41px;

  background: #FFFFFF;
  /* Neutral/100 */

  border: 1px solid #E0E3EB;
  border-radius: 4px;
}

select.input {
  /* Arrow */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

.textarea {
  resize: none;
  width: 100%;
  height: 135px;
  margin-top: 20px;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 8px;
  gap: 10px;

  background-color: #FFFFFF;
  /* Neutral/100 */

  border: 1px solid #E0E3EB;
  border-radius: 4px;
}

.formSubmitBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;

  border: 0;
  outline: none;
  width: 271px;
  height: 53px;

  /* Primary */

  background: #2947A9;
  border-radius: 2px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  /* Neutral/White */

  color: #FFFFFF;
}

.formStar {
  color: #C40303;
}

.formPlaceholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #667299;
  margin-top: 8px;
}

.formSubmitBtnWrapper {
  margin-top: 28px;
}
